.restaurant-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 500px;
}

.restaurant-logo {
  width: 300px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.restaurant-details {
  padding: 20px;
}

.restaurant-details p {
  margin: 0 0 10px; /* Add some bottom margin to separate paragraphs */
}

.restaurant-details strong {
  margin-right: 5px;
  font-weight: bold;
}
.restaurant-info strong {
  margin-right: 5px;
  font-weight: bold;
}

.restaurant-box h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}
/* styles.css */
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Allow wrapping to next line */
  gap: 20px; /* Spacing between restaurants */
  transition: 1s ease-in-out;
}

.restaurant-list :hover {
  transform: scale(1.02);
}
.choose {
  background-color: black;
  color: #6f860b;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin-right: 5px;
}

.page-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #0056b3;
}
